* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: limegreen;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

main {
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 0 0;
}

h1 {
  text-align: center;
}

h1,
thead,
tbody {
  background-color: #333;
}

h1,
tbody {
  color: limegreen;
}

thead {
  color: #ff8a8a;
  letter-spacing: 0.2em;
  font-size: 1.2em;
}

label {
  visibility: hidden;
}

input {
  border: 1px solid limegreen;
  border-radius: 1em;
  text-align: center;
  margin: 0 0 2em 0;
  background-color: transparent;
  color: limegreen;
}

#search-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#clearSearch {
  display: inline-block;
  border: 1px solid limegreen;
  border-radius: 1em;
  text-align: center;
  margin: 0 0 0 0.5em;
  padding: 0 0.5em;
  background-color: limegreen;
  color: #333;
}

.pagination {
  justify-content: space-between;
  margin-bottom: 3em;
}

.pagination,
.page-control {
  background-color: transparent;
}

.page-control {
  border: 0.02em solid #ff8a8a;
  color: #ff8a8a;
  padding: 0.2em 1em;
  border-radius: 1em;
}
